
<body>
<div class="login">
  <h2 class="login-header">Log in</h2>
  
  <form role="form" #form="ngForm" autocomplete="off"  class="login-container">
    <br>
<div class="input">
    <input name="userName" type="text" class="form-control input-lg" placeholder="Enter Username" #userName="ngModel"
      [(ngModel)]="user.userName" required>
    <div class="validation-error" *ngIf="userName.invalid && userName.touched" style="color:red">*user name is required
    </div>
  </div>
  <br>
<div class="input">
<input name="password" type="password" class="form-control input-lg" placeholder="Enter Password" #password="ngModel"
  [(ngModel)]="user.password" required>
<div class="validation-error" *ngIf="password.invalid && password.touched" style="color:red">*password is required</div>
</div>
<br>

<div class="input">
<input type="submit" value="Login" [disabled]="user.invalid" class="btn btn-info btn-block" (click)="myLogin()">
</div>


</form>
</div>
</body>